<h1>Salons#show</h1>
<p>Find me in app/views/salons/show.html.erb</p>
<%= image_tag(salon.image, :class => 'thumb') %>
  <ul>
    <li>Name: <%= link_to(salon.name, salon) %></li>
    <li>Location: <%= link_to(salon.location) %></li>
  </ul>